/*-- scss:defaults --*/
$link-color: #CA1F7B;
$toc-font-size: 12pt;
$body-bg: #150E12;
$body-color: #DAC2CF;
$line-height-base: 1.3;

$toc-active-border: #CA1F7B;
$toc-inactive-border: #582B43;


img {
  border-radius: 8px !important; 
}

hr {
  color: #582B43 !important;
  opacity: 1 !important;
}

h2, h3, h4, h5 {
  color: #7A3C5D !important;
}

h2, .h2 {
border-bottom: 2px solid #582B43 !important;
padding-bottom: .5rem;
}

strong {
  font-weight: 800 !important;
  color: #CE81AA !important;
}

.sidebar nav h2 {
  border: none !important;
}

.fem {
  background-color: #CA1F7B;
  color: #190E14;
  font-weight: plain;
  padding: 0px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: pre;
}

.masc {
  background-color: #8A3E88;
  color: #190E14;
  font-weight: plain;
  padding: 0px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: pre;
}

.quarto-title-meta-heading, .quarto-title-meta-contents {
  color: #7A3C5D !important;
}

.espaciado {
  margin-top: 38px;
  margin-bottom: 38px;
}

.ayuda {
  color: #7A3C5D !important;
  opacity: 0.8;
  margin-top: 38px;
  margin-bottom: 38px;
}

.footer {
  color: #7A3C5D !important;
  opacity: 0.4;
  margin-top: 38px;
  font-size: 80%;
}

/*
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
border-left: 1px solid #ca1f7b;
color: #ca1f7b !important;
}

.sidebar nav[role=doc-toc]>ul a {
border-left: 1px solid #582B43 !important;
padding-left: .6rem;
}
*/